<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.oldmanpushcart.moss.backend.memory.internal.dao.MemoryFragmentDao">

    <insert id="insert"
            useGeneratedKeys="true"
            keyProperty="fragmentId"
            keyColumn="FRAGMENT_ID"
            parameterType="io.github.oldmanpushcart.moss.backend.memory.internal.domain.MemoryFragmentDO">
        INSERT INTO MEMORY_FRAGMENTS
        (
            TOKENS,
            REQUEST_MESSAGE_JSON,
            RESPONSE_MESSAGE_JSON,
            CREATED_AT,
            UPDATED_AT
        )
        VALUES (
            #{tokens},
            #{requestMessageJson},
            #{responseMessageJson},
            strftime('%s', 'now') || substr(strftime('%f', 'now'), 4),
            strftime('%s', 'now') || substr(strftime('%f', 'now'), 4)
        )
    </insert>

    <update id="update"
            parameterType="io.github.oldmanpushcart.moss.backend.memory.internal.domain.MemoryFragmentDO">
        UPDATE MEMORY_FRAGMENTS
        <set>
            <if test="tokens != null">TOKENS = #{tokens},</if>
            <if test="requestMessageJson != null">REQUEST_MESSAGE_JSON = #{requestMessageJson},</if>
            <if test="responseMessageJson != null">RESPONSE_MESSAGE_JSON = #{responseMessageJson},</if>
            UPDATED_AT = strftime('%s', 'now') || substr(strftime('%f', 'now'), 4)
        </set>
        WHERE
            FRAGMENT_ID = #{fragmentId}
    </update>

    <select id="pagingForIterator"
            resultType="io.github.oldmanpushcart.moss.backend.memory.internal.domain.MemoryFragmentDO">
        SELECT
            *
        FROM MEMORY_FRAGMENTS
        WHERE
            FRAGMENT_ID <![CDATA[ < ]]> #{maxFragmentId}
        ORDER BY FRAGMENT_ID DESC
        LIMIT #{limit}
    </select>

    <select id="getById"
            resultType="io.github.oldmanpushcart.moss.backend.memory.internal.domain.MemoryFragmentDO">
        SELECT
            *
        FROM MEMORY_FRAGMENTS
        WHERE
            FRAGMENT_ID = #{fragmentId}
    </select>

</mapper>