<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.oldmanpushcart.moss.backend.uploader.internal.dao.UploadEntryDao">
    
    <insert id="insert"
            useGeneratedKeys="true"
            keyProperty="entryId"
            keyColumn="ENTRY_ID"
            parameterType="io.github.oldmanpushcart.moss.backend.uploader.internal.domain.UploadEntryDO">
        INSERT INTO UPLOAD_ENTRIES
        (
            UNIQUE_KEY,
            MODEL,
            LENGTH,
            FILENAME,
            UPLOAD_ID,
            UPLOADED,
            EXPIRES_AT,
            CREATED_AT
        )
        VALUES (
            #{uniqueKey},
            #{model},
            #{length},
            #{filename},
            #{uploadId},
            #{uploaded},
            #{expiresAt},
            CAST(strftime('%s', 'now') || substr(strftime('%f', 'now'), 4) AS INTEGER)
        )
    </insert>

    <select id="getById" resultType="io.github.oldmanpushcart.moss.backend.uploader.internal.domain.UploadEntryDO">
        SELECT
        *
        FROM UPLOAD_ENTRIES
        WHERE
        ENTRY_ID = #{entryId}
        LIMIT 1
    </select>

    <select id="getByUniqueKey"
            resultType="io.github.oldmanpushcart.moss.backend.uploader.internal.domain.UploadEntryDO">
        SELECT
            *
        FROM UPLOAD_ENTRIES
        WHERE
            UNIQUE_KEY = #{uniqueKey}
        LIMIT 1
    </select>

    <select id="listAll"
            resultType="io.github.oldmanpushcart.moss.backend.uploader.internal.domain.UploadEntryDO">
        SELECT
            *
        FROM UPLOAD_ENTRIES
    </select>

    <delete id="deleteById">
        DELETE FROM UPLOAD_ENTRIES
        WHERE
            ENTRY_ID = #{entryId}
    </delete>

</mapper>